.formDiv {
  width: 100%;
  margin: 3%;
}

.recipe-card-form {
  width: 60%;
  margin-left: 17%;
  border: solid;
  border-radius: 15px;
  background-color: lightgrey;
}
.content {
  margin: 5px;
}
.content label {
  display: block;
}
.content input {
  width: calc(100% - 5px);
}
.content textarea {
  width: calc(100% - 5px);
  max-width: calc(100% - 5px);
}
.content button {
  width: 100%;
  display:block;
  text-align: right;
  word-wrap: break-word;
  display: block;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
